.columns {
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    min-width: 150px;
    max-width: 150px;
    overflow: hidden;
}

.currentlySelected {
    background-color: lightgreen;
}

.explanation {
    width: 600px;
}